.post
  h1
    font-size: 36px
    padding-bottom: 5px
    a
      color: $header_bg_color !important
    span
      padding-left: 5px
      font-size: 16px
      color: $header_bg_color
  h2
    font-size: 30px

.post_body
  font-size: 16px

.posts_index 
  .post
    padding: 10px 0
  .post_body
    height: 90px
    overflow: hidden
    padding: 5px
    background: $background_color

.posts_show
  .read_more
    display: none
  .post_body
    padding: 5px 0
    ul
      list-style-type: square
    hr
      border-color: $highlight_color
