/* line 1, ../../app/sass/pygments.sass */
.hll {
  background-color: #ffffcc;
}

/* line 4, ../../app/sass/pygments.sass */
.c {
  color: #408080;
  font-style: italic;
}

/* Comment */
/* line 10, ../../app/sass/pygments.sass */
.err {
  border: 1px solid red;
}

/* Error */
/* line 15, ../../app/sass/pygments.sass */
.k {
  color: green;
  font-weight: bold;
}

/* Keyword */
/* line 21, ../../app/sass/pygments.sass */
.o {
  color: #666666;
}

/* Operator */
/* line 26, ../../app/sass/pygments.sass */
.cm {
  color: #408080;
  font-style: italic;
}

/* Comment.Multiline */
/* line 32, ../../app/sass/pygments.sass */
.cp {
  color: #bc7a00;
}

/* Comment.Preproc */
/* line 37, ../../app/sass/pygments.sass */
.c1, .cs {
  color: #408080;
  font-style: italic;
}

/* Comment.Single */
/* Comment.Special */
/* line 44, ../../app/sass/pygments.sass */
.gd {
  color: #a00000;
}

/* Generic.Deleted */
/* line 49, ../../app/sass/pygments.sass */
.ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 54, ../../app/sass/pygments.sass */
.gr {
  color: red;
}

/* Generic.Error */
/* line 59, ../../app/sass/pygments.sass */
.gh {
  color: navy;
  font-weight: bold;
}

/* Generic.Heading */
/* line 65, ../../app/sass/pygments.sass */
.gi {
  color: #00a000;
}

/* Generic.Inserted */
/* line 70, ../../app/sass/pygments.sass */
.go {
  color: gray;
}

/* Generic.Output */
/* line 75, ../../app/sass/pygments.sass */
.gp {
  color: navy;
  font-weight: bold;
}

/* Generic.Prompt */
/* line 81, ../../app/sass/pygments.sass */
.gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 86, ../../app/sass/pygments.sass */
.gu {
  color: purple;
  font-weight: bold;
}

/* Generic.Subheading */
/* line 92, ../../app/sass/pygments.sass */
.gt {
  color: #0040d0;
}

/* Generic.Traceback */
/* line 97, ../../app/sass/pygments.sass */
.kc, .kd, .kn {
  color: green;
  font-weight: bold;
}

/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* line 105, ../../app/sass/pygments.sass */
.kp {
  color: green;
}

/* Keyword.Pseudo */
/* line 110, ../../app/sass/pygments.sass */
.kr {
  color: green;
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 116, ../../app/sass/pygments.sass */
.kt {
  color: #b00040;
}

/* Keyword.Type */
/* line 121, ../../app/sass/pygments.sass */
.m {
  color: #666666;
}

/* Literal.Number */
/* line 126, ../../app/sass/pygments.sass */
.s {
  color: #ba2121;
}

/* Literal.String */
/* line 131, ../../app/sass/pygments.sass */
.na {
  color: #7d9029;
}

/* Name.Attribute */
/* line 136, ../../app/sass/pygments.sass */
.nb {
  color: green;
}

/* Name.Builtin */
/* line 141, ../../app/sass/pygments.sass */
.nc {
  color: blue;
  font-weight: bold;
}

/* Name.Class */
/* line 147, ../../app/sass/pygments.sass */
.no {
  color: #880000;
}

/* Name.Constant */
/* line 152, ../../app/sass/pygments.sass */
.nd {
  color: #aa22ff;
}

/* Name.Decorator */
/* line 157, ../../app/sass/pygments.sass */
.ni {
  color: #999999;
  font-weight: bold;
}

/* Name.Entity */
/* line 163, ../../app/sass/pygments.sass */
.ne {
  color: #d2413a;
  font-weight: bold;
}

/* Name.Exception */
/* line 169, ../../app/sass/pygments.sass */
.nf {
  color: blue;
}

/* Name.Function */
/* line 174, ../../app/sass/pygments.sass */
.nl {
  color: #a0a000;
}

/* Name.Label */
/* line 179, ../../app/sass/pygments.sass */
.nn {
  color: blue;
  font-weight: bold;
}

/* Name.Namespace */
/* line 185, ../../app/sass/pygments.sass */
.nt {
  color: green;
  font-weight: bold;
}

/* Name.Tag */
/* line 191, ../../app/sass/pygments.sass */
.nv {
  color: #19177c;
}

/* Name.Variable */
/* line 196, ../../app/sass/pygments.sass */
.ow {
  color: #aa22ff;
  font-weight: bold;
}

/* Operator.Word */
/* line 202, ../../app/sass/pygments.sass */
.w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 207, ../../app/sass/pygments.sass */
.mf, .mh, .mi, .mo {
  color: #666666;
}

/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* line 215, ../../app/sass/pygments.sass */
.sb, .sc {
  color: #ba2121;
}

/* Literal.String.Backtick */
/* Literal.String.Char */
/* line 221, ../../app/sass/pygments.sass */
.sd {
  color: #ba2121;
  font-style: italic;
}

/* Literal.String.Doc */
/* line 227, ../../app/sass/pygments.sass */
.s2 {
  color: #ba2121;
}

/* Literal.String.Double */
/* line 232, ../../app/sass/pygments.sass */
.se {
  color: #bb6622;
  font-weight: bold;
}

/* Literal.String.Escape */
/* line 238, ../../app/sass/pygments.sass */
.sh {
  color: #ba2121;
}

/* Literal.String.Heredoc */
/* line 243, ../../app/sass/pygments.sass */
.si {
  color: #bb6688;
  font-weight: bold;
}

/* Literal.String.Interpol */
/* line 249, ../../app/sass/pygments.sass */
.sx {
  color: green;
}

/* Literal.String.Other */
/* line 254, ../../app/sass/pygments.sass */
.sr {
  color: #bb6688;
}

/* Literal.String.Regex */
/* line 259, ../../app/sass/pygments.sass */
.s1 {
  color: #ba2121;
}

/* Literal.String.Single */
/* line 264, ../../app/sass/pygments.sass */
.ss {
  color: #19177c;
}

/* Literal.String.Symbol */
/* line 269, ../../app/sass/pygments.sass */
.bp {
  color: green;
}

/* Name.Builtin.Pseudo */
/* line 274, ../../app/sass/pygments.sass */
.vc, .vg, .vi {
  color: #19177c;
}

/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
/* line 281, ../../app/sass/pygments.sass */
.il {
  color: #666666;
}

/* Literal.Number.Integer.Long */
