<div class="main_footer clearfix">
  <ul class="footer_list">
    <li class="footer_list_header">Backups</li>
    <li>Every app is backed up daily.</li>
  </ul>
  <ul class="footer_list">
    <li class="footer_list_header">Updateable</li>
    <li>Update your app with a single click!</li>
  </ul>
  <ul class="footer_list">
    <li class="footer_list_header">Need Help?</li>
    <li><a href="mailto:support@bushi.do">support@bushi.do</a></li>
  </ul>
  <ul class="footer_list omega" style="float:right !important;">
    <li><a href="http://www.linode.com"><img src="http://www.linode.com/images/pr/pb_linode3.png" alt="Linode Powered" /></a></li>
    <li>
      <a href="http://mixpanel.com/?from=partner">
        <img src="http://mixpanel.com/site_media/images/mixpanel_partner_logo.gif" alt="Mobile Analytics by Mixpanel" />
      </a>
    </li>
  </ul>
</div>
